<nav>
  <p><a href="/"> Home </a></p>
  <div class="links">
    <a href="/signup">Sign up</a>
    <span> | </span>
    <a href="/login">Log in</a>
    <span> | </span>
    <a href="/main">Main</a>
    <span> | </span>
    <a href="/private">Private</a>
  </div>
</nav>