<div class="home-container">
  <h3 class="login-title">Welcome back!</h3>
  <p class="login-title"><a href="/login" class="home-link">Log in</a></p>
  <div class="signup-section">
    <p>Don't have an accout?</p>
    <a href="/signup" class="home-link">Sign up</a>
    <br />
  </div>
</div>