<div class="private-container">
  <img
    src="/images/my-level-of-patience-impatient.gif"
    alt="My gif"
    class="gif"
  />
  <button type="submit" class="btn"><a href="/main">Back to main page</a></button>
</div>